<template>
  <div>
    <h2>Contact</h2>
    <div class="contact">
      <a href="https://twitter.com/VincentEtien_" target="_blank"
        ><img height="50" width="60" src="../assets/twitter.png"
      /></a>
      <a href="https://gitlab.com/etien-vincent" target="_blank"
        ><img height="50" width="60" src="../assets/gitlab.png"
      /></a>
      <a href="mailto:Etien.vincent@gmail.com"
        ><img height="50" width="60" src="../assets/gmail.png"
      /></a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Contact",
};
</script>

<style>
.contact {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
.contact > * {
  margin: 4rem;
}
</style>
