<template>
	<div class="education">
		<h2>Education</h2>
		<div class="education-item">
			<h3 class="education-titles">SIF Master's degree</h3>
			<span>Double degree with my computer science INSA degree.</span>
		</div>
		<div class="education-item">
			<h3 class="education-titles">Åbo Akademi</h3>
			<span>6 month Erasmus exchange in Turku, Finland.</span>
		</div>
		<div class="education-item">
			<h3 class="education-titles">INSA Rennes</h3>
			<span>Engineering school, specialisation in computer science.</span>
		</div>
	</div>
</template>

<script>
export default {
	name: "Education",
};
</script>

<style>
.education {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.education-item {
	padding: 30px;
}
.education-titles {
	text-align: center;
}
</style>
