<template>
	<div class="experience">
		<h2>Experience</h2>
		<div class="experience-list">
			<div class="experience-item">
				<h3 class="experience-titles">
					Hellowork : Software engineer II. Sept 2021 - Today
				</h3>
				<span
					>Front-end development, scrum master and end to end test
					development
				</span>
				<div class="tag-list">
					<div class="tag">Lit element</div>
					<div class="tag">Typescript</div>
				</div>
			</div>
			<div class="experience-item">
				<h3 class="experience-titles">
					Inria : 6 month research internship. Early 2021
				</h3>
				<span
					>Towards the creation of appealing realistic virtual humans
					in virtual reality. Creation of an experiment about our
					perception of virtual humans in virtual reality.</span
				>
				<div class="tag">Unreal Engine 4</div>
			</div>
			<div class="experience-item">
				<h3 class="experience-titles">
					Logpickr : 14 weeks internship in Angular Development.
					Summer 2020
				</h3>
				<span
					>Design and implementation of a new page of a web app with
					many new features.</span
				>
				<div class="tag">Angular</div>
			</div>
			<div class="experience-item">
				<h3 class="experience-titles">
					Rennes faculty of law : 4 weeks internship to develop a tool
					for researchers ( see Portfolio ). Summer 2019
				</h3>
				<span
					>Autonomous work that allowed me to learn web
					development.</span
				>
				<div class="tag">Javascript</div>
			</div>
			<div class="experience-item">
				<h3 class="experience-titles">
					Optinvent : 6 weeks internship to develop a POC in Android.
					Summer 2018
				</h3>
				<span
					>Development of a prototype sensor app for smart
					glasses.</span
				>
				<div class="tag">Android</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "Experience",
};
</script>

<style>
.experience {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
h2 {
	margin: 15px;
}

.experience-item {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.experience-item h3 {
	font-size: 18px;
	margin: 0px;
}
.experience-item span {
	font-size: 14px;
}

.experience-titles {
	text-align: center;
}
.tag-list {
	display: flex;
}
.tag {
	border-radius: 1rem;
	background-color: #797979;
	padding: 0.5rem;
	margin: 0.5rem;
	width: max-content;
	margin-left: 0;
}
</style>
