<template>
	<div class="hobbies">
		<h2>Hobbies</h2>
		<div class="hobbies-item">
			<h3 class="hobbies-titles">
				Insalan : Communications manager of InsaLan XIV
			</h3>
		</div>
		<div class="hobbies-item">
			<h3 class="hobbies-titles">
				Festival de l'Oeil Glauque : Sponsors manager during FOG XIV
			</h3>
		</div>
		<div class="hobbies-item">
			<h3 class="hobbies-titles">
				Tabletop RPG player, Comic books reader and music listener.
			</h3>
		</div>
	</div>
</template>

<script>
export default {
	name: "Hobbies",
};
</script>

<style>
.hobbies {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.hobbies-item {
	padding: 30px;
}
.hobbies-titles {
	text-align: center;
}
</style>
