<template>
	<div class="home-page-container">
		<div id="canvas" />
		<h1>Vincent Etien</h1>
		<h2>Front-end, UX and computer graphics enthusiast.</h2>
	</div>
</template>

<script>
import * as THREE from "three";
export default {
	name: "HomePage",
	mounted: function() {
		var scene = new THREE.Scene();
		var camera = new THREE.PerspectiveCamera(
			75,
			window.innerWidth / window.innerHeight,
			0.1,
			1000
		);

		var renderer = new THREE.WebGLRenderer();
		renderer.setSize(window.innerWidth * 0.8, window.innerHeight * 0.8);
		document
			.getElementsByClassName("home-page-container")[0]
			.appendChild(renderer.domElement);
		var cubelist = [];
		var newcubes;
		for (let i = 0; i < 220; i += 30) {
			newcubes = this.addCubes(camera.position.z - i);
			newcubes.forEach((cube) => {
				scene.add(cube);
				cubelist.push(cube);
			});
		}

		let context = this;
		let threshold = 0;
		var animate = function() {
			requestAnimationFrame(animate);

			cubelist.forEach((cube) => {
				if (cube.position.x == 1) {
					if (cube.position.y > -1) {
						cube.position.y -= 0.01;
					}
				} else if (cube.position.x == -1) {
					if (cube.position.y < 1) {
						cube.position.y += 0.01;
					}
				}
				if (cube.position.y == 1) {
					if (cube.position.x < 1) {
						cube.position.x += 0.01;
					}
				} else if (cube.position.y == -1) {
					if (cube.position.x > -1) {
						cube.position.x -= 0.01;
					}
				}
				if (cube.position.x > 1) {
					cube.position.x = 1;
				}
				if (cube.position.y > 1) {
					cube.position.y = 1;
				}
				if (cube.position.x < -1) {
					cube.position.x = -1;
				}
				if (cube.position.y < -1) {
					cube.position.y = -1;
				}
			});
			camera.position.z -= 0.05;
			if (camera.position.z < threshold) {
				threshold -= 30;
				newcubes = context.addCubes(camera.position.z - 180);
				newcubes.forEach((cube) => {
					scene.add(cube);
					cubelist.push(cube);
					scene.remove(cubelist.shift());
				});
			}
			renderer.render(scene, camera);
		};

		animate();
	},
	methods: {
		addCubes(z) {
			var geometry = new THREE.BoxBufferGeometry(1, 1, 1);
			var edges = new THREE.EdgesGeometry(geometry);
			var material = new THREE.LineBasicMaterial({ color: 0xff0000 });
			var cube = new THREE.LineSegments(edges, material);
			cube.position.x = -1;
			cube.position.y = 1;
			cube.position.z = z;
			var cube2 = new THREE.LineSegments(edges, material);
			cube2.position.x = 1;
			cube2.position.y = -1;
			cube2.position.z = z;
			var cube3 = new THREE.LineSegments(edges, material);
			cube3.position.x = 1;
			cube3.position.y = 1;
			cube3.position.z = z;
			var cube4 = new THREE.LineSegments(edges, material);
			cube4.position.x = -1;
			cube4.position.y = -1;
			cube4.position.z = z;
			return [cube, cube2, cube3, cube4];
		},
	},
};
</script>

<style>
.home-page-container {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}
canvas {
	filter: blur(0px);
	position: absolute;
	width: 100%;
	height: 100%;
}
h1,
h2 {
	z-index: 2;
	margin: 2rem;
	text-align: center;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 2rem;
}
</style>
