<template>
	<div class="app-container">
		<div class="menu">
			<a href="#home">Home</a>
			<a href="#portfolio">Portfolio</a>
			<a href="#experience">Experience</a>
			<a href="#education">Education</a>
			<a href="#hobbies">Hobbies</a>
			<a href="#contact">Contact</a>
		</div>
		<div class="homepage" style="background-color: black" id="home">
			<HomePage />
		</div>
		<div class="page" id="portfolio" style="background-color: #ff5700">
			<div class="page-content"><Portfolio /></div>
		</div>
		<div class="page" id="experience" style="background-color: #032535">
			<div class="page-content"><Experience /></div>
		</div>
		<div class="page" id="education" style="background-color: #ff9a00">
			<div class="page-content"><Education /></div>
		</div>

		<div class="page" id="hobbies" style="background-color: #032535">
			<div class="page-content"><Hobbies /></div>
		</div>
		<div class="page" id="contact" style="background-color: #ffb515">
			<div class="page-content"><Contact /></div>
		</div>
	</div>
</template>

<script>
import HomePage from "./HomePage.vue";
import Portfolio from "./Portfolio.vue";
import Experience from "./Experience.vue";
import Education from "./Education.vue";
import Hobbies from "./Hobbies.vue";
import Contact from "./Contact.vue";
export default {
	name: "PageLayout",
	components: {
		HomePage,
		Portfolio,
		Experience,
		Education,
		Hobbies,
		Contact,
	},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.menu {
	position: fixed;
	height: 100%;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-wrap: wrap;
	z-index: 5;
	font-size: 1.5rem;
	text-align: right;

	will-change: transform;
}
.menu > * {
	margin-right: 1rem;
	color: white;
}
.app-container {
	min-height: 100%;
	display: flex;
}
.homepage {
	width: 100vw;
	height: 100vh;
	flex-shrink: 0;
	float: left;
}
.page {
	width: 90vw;
	height: 100vh;
	flex-shrink: 0;
	float: left;
	transform: skewX(-1deg);
	display: flex;
	margin-left: -1rem;
	justify-content: center;
	padding-right: 7rem;
	padding-left: 4rem;
}
.page:nth-of-type(2n + 1) {
	z-index: 2;
	filter: drop-shadow(0 0 4rem black);
}
.page-content {
	width: 100%;
	transform: skewX(1deg);
}

@media only screen and (max-width: 1500px),
	only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.menu {
		width: 100vw;
		left: 0;
		height: min-content;
		flex-direction: row;
		justify-content: left;
		font-size: 2.5vw;
	}
	.menu > * {
		margin: 0.5rem;
		margin-right: 0.5rem;
	}
	.app-container {
		flex-direction: column;
		width: 100%;
	}
	.homepage {
		float: top;
		height: 95vh;
		width: auto;
	}
	.page {
		width: auto;
		transform: skewX(0);
		display: flex;
		margin-left: 0;
		padding-right: 0rem;
		padding-left: 0rem;
		float: top;
		height: auto;
	}
	.page-content {
		width: auto;

		max-width: 100vw;
		transform: skewX(0);
	}
}
</style>
