<template>
	<div class="portfolio">
		<h2 class="portfolio-title">Portfolio</h2>
		<div class="project-container">
			<div class="project">
				<h3 class="project-names">
					<a href="/catastrophic-strats">Catastrophic strats</a>
				</h3>
				<div class="image-desc">
					<a href="/catastrophic-strats" target="_blank"
						><img src="../assets/strats.png" class="project-image"
					/></a>
					<span class="descriptions"
						>A web tool to plan strategies for the game Valorant I
						coded with a friend. <br />We sold exclusive use rights
						to mandatory.gg for a year. The website had 500 weekly
						visitors in average.
					</span>
				</div>
			</div>
			<div class="project">
				<h3 class="project-names">
					<a
						href="https://inkaru.itch.io/killercocktail"
						target="_blank"
						>Killer cocktail</a
					>
				</h3>
				<div class="image-desc">
					<a
						href="https://inkaru.itch.io/killercocktail"
						target="_blank"
						><img
							src="../assets/killercocktail.png"
							class="project-image"
					/></a>
					<span class="descriptions"
						>Cocktail making game with a twist. Created with a
						friend in 48 hours using Unity for the 48 + 8 Jam #4
						with the theme "It's a weapon now".</span
					>
				</div>
			</div>
			<div class="project">
				<h3 class="project-names">
					<a href="/resources-todos" target="_blank"
						>Resources & Todos</a
					>
				</h3>
				<div class="image-desc">
					<a href="/resources-todos" target="_blank"
						><img
							src="../assets/resources.png"
							class="project-image"
					/></a>
					<span class="descriptions"
						>Small website displaying interesting resources such as
						articles or developer tools as well as project ideas.
					</span>
				</div>
			</div>
			<div class="project">
				<h3 class="project-names">
					<a href="/tunnel-glide">Tunnel Glide</a>
				</h3>
				<div class="image-desc">
					<a href="/tunnel-glide" target="_blank"
						><img src="../assets/tunnel.png" class="project-image"
					/></a>
					<span class="descriptions"
						>My first Unreal Engine project, it's a simple infinite
						game where you have to avoid obstacles with your
						mouse.</span
					>
				</div>
			</div>
			<div class="project">
				<h3 class="project-names">
					<a
						href="https://uxfol.io/project/03f9ba75/Catastrophic-Strats"
						target="_blank"
						>Catastrophic strats UX</a
					>
				</h3>
				<div class="image-desc">
					<a
						href="https://uxfol.io/project/03f9ba75/Catastrophic-Strats"
						target="_blank"
						><img src="../assets/uxfolio.jpg" class="project-image"
					/></a>
					<span class="descriptions"
						>UX design exploration for the Catastrophic Strats app.
						The goal of this project was to propose a new UI for the
						app that would take into account the users needs and
						goals.</span
					>
				</div>
			</div>
			<div class="project">
				<h3 class="project-names"><a href="/lanopale">LaNoPale</a></h3>
				<div class="image-desc">
					<a href="/lanopale" target="_blank"
						><img src="../assets/lanopale.png" class="project-image"
					/></a>
					<span class="descriptions"
						>Tool created to help the researchers study the links
						between judgments of the European Court of Human Rights
						during my internship at the Faculty of law and political
						science of Rennes.
					</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "Portfolio",
};
</script>

<style>
.descriptions {
	text-align: justify;
}
.portfolio {
	height: auto;
}
.project-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2rem;
	height: auto;
	max-width: 100vw;
	padding-top: 0px;
	padding-left: 0px;
}
.project {
	flex: 0.3 2;
	min-width: 400px;
	height: min-content;
	padding: 1rem;
}
.portfolio-title {
	margin-bottom: 20px;
	margin-top: 30px;
}
.project-names {
	margin-top: 0;
}
.project-names > a {
	color: black;
	margin-left: 2rem;
}
.project-image {
	margin-top: -2rem;
	height: 200px;
	width: 200px;
	transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
		scale(0.9, 0.9);
	border-radius: 20px;
	box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
	transition: 0.4s ease-in-out transform;
}
.project-image:hover {
	transform: translate3d(0px, 0px, -250px);
}
.image-desc {
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 1500px),
	only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.project {
		min-width: auto;
		flex: auto;
	}
	.image-desc {
		flex-wrap: wrap;
	}
}
</style>
