<template>
	<PageLayout />
</template>

<script>
import PageLayout from "./components/PageLayout.vue";

export default {
	name: "App",
	components: {
		PageLayout,
	},
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Lato|Poppins");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

body,
html,
#app {
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
	background-color: black;
	font-family: "Poppins", sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;
}
h1,
h2 {
	font-family: "Roboto Mono", monospace;
}
@media only screen and (max-width: 1500px),
	only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
	body,
	html,
	#app {
		height: 100vh;
		overflow-y: overlay;
		overflow-x: hidden;
	}
}
</style>
